/* Styles for learners and lessons sidebar Navigation */
#sidebarlearners {
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top (probably not needed) */
    top: 58px; /* Stay at the top but below the masthead */
    left: 0;
	float: left;
	width: 140px;
	background-color:#009900;
}
#sidebarlearners ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
#sidebarlearners li {
	display: block;
}
#sidebarlearners a {
	font-weight: normal;
	text-decoration: none;
	color: white;
	padding: 1%;
	display: block;
	border-bottom: 1px solid #f5f5f5;
}
#sidebarlearners a:hover {
	font-weight: normal;
	text-decoration: none;
	color: #009900;
	border-bottom: 1px solid #f5f5f5;
	background-color: white;
}

/* Styles for Lesson and Exercise index pages Navigation Yellow and green*/

#learnerindexnav ul {
	list-style-type: none;
	width: 100%;
	padding: 0px;
	margin: -3px;
}
#learnerindexnav li {
	float: left;
	text-align:center;
	padding-bottom:1px;
	padding-top:1px;
	
}
#learnerindexnav a {
	font-family: Calibri, Arial, Trebuchet;
	color: white;
	display: block;
	min-width:150px;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-bottom:0px;
	background: #009900;
	height:100%;
	
}
#learnerindexnav a:hover {
	
	color: #009900;
	font-weight: normal;
	text-decoration: none;
	background: white;
	
}
#learnerindexnav a:active {
	color:white;
	background-color:red;
	text-decoration:none;
}
/* Styles for Exercise index pages Navigation blue and white*/

#learnerindexexesnav ul {
	list-style-type: none;
	width: 100%;
	padding: 0px;
	margin: -3px;
}
#learnerindexexesnav li {
	float: left;
	text-align:center;
	padding-bottom:1px;
	padding-top:1px;
	
}
#learnerindexexesnav a {
	font-family: Calibri, Arial, Trebuchet;
	color: white;
	display: block;
	min-width:150px;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 1px;
	margin-bottom:1px;
	background: #009900;
	
}
#learnerindexexesnav a:hover {
	
	color: #009900;
	font-weight: normal;
	text-decoration: none;
	background: white;
	
}
#learnerindexexesnav a:active {
	color:white;
	background-color:red;
	text-decoration:none;
}
hr { 
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
	border-color: #009900;
}
.greentableborder {
	border: 1px solid #009900;
	border-collapse: collapse;
}
.greenbold {
	color: #009900;
	font-weight: bold;
}

